---
layout: base.njk
---

{# Each section include is the verbatim HTML extracted from the original monolithic index.html. #}
{% include "sections/hero.njk" %}
{% include "sections/foundation.njk" %}
{% include "sections/grahas.njk" %}
{% include "sections/rashis.njk" %}
{% include "sections/bhavas.njk" %}
{% include "sections/nakshatras.njk" %}
{% include "sections/kala.njk" %}
{% include "sections/charts.njk" %}
{% include "sections/yogas.njk" %}
{% include "sections/tools.njk" %}
{% include "sections/flow.njk" %}
{% include "sections/principles.njk" %}
{% include "sections/wisdom.njk" %}
{% include "sections/branches.njk" %}
{% include "sections/essence.njk" %}
